@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* .main-features{
    text-align: right;
    padding-left:10px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(600,600,600,1));
    padding-bottom: 30px;
    padding-top: 15px;
    position:relative;
    padding:90px 0px 50px; 
}

.main-features .title-box{
    position:relative;
    margin-bottom:80px; 
}

.main-features .title-box h1{
    position:relative;
    font-size:72px;
    color:#10a5c6;
    line-height:1.4em;
    font-family:'Roboto',sans-serif;    
}

.main-features .title-box h2{
    position:relative;
    font-size:36px;
    font-weight:800;
    color:#25292f;
    margin-bottom:20px; 
    text-transform:uppercase;
}

.main-features .title-box .text{
    position:relative;
    font-size:18px;
    font-weight:300;
    color:#7c7c7c;
}

.main-features .features-column{
    position:relative;
    margin-bottom:50px; 
} */
.main_{
    background-color: #008ca1;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #359EF9; */
    height: 75vh;
    border-radius: 1%;
    font-family: 'Poppins', sans-serif;
}
.imagen{
    width: 50%;
    margin-left: 50px;
    margin-right: 30px ;
}
.accordion{
    width: 50%;
    margin-right: 5%;
}

.img_{
    border-radius: 5%;
    width: 600px;
    height: 350px;
}
h3{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    color: #FEBA0B;
    font-size: 50px;
}
.text1{
    display: flex;
    justify-content: center;
}
